@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
height: 100%;
width: 100%;
font-family: 'Poppins', sans-serif;
color: #222;
}
#nav_image{
  margin: 0;
   height: 10px;
  width: 10px;
  position: relative;
}
#nav_image2{
  margin: 0;
  height: 10px;
  position: relative;
 
}
.navbar{
padding: .8rem;
display: block;
}
.navbar-nav 1i{
padding-right: 20px;
margin: 0 40px 0 0px;
  opacity: 0.4;
  transition: all 0.4s ease;
}
.nav-link {
  font-size: 1.1em !important;
}
nav .line {
  height: 2px;
  position: absolute;
  top: 140px;
  margin: 5px 0 0 0;
}

nav ul li {
  margin: 0 40px 0 0px;
  opacity: 0.4;
  transition: all 0.4s ease;
}
nav ul li:hover {
  opacity: 0.7;
}
nav ul li.active {
  opacity: 1;
  border-bottom:2px solid #d58da1;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}
nav ul li a:hover {
   color: black; 
}

/* carsoul */

.carousel-inner img {
width: 90%;
height: 10%;
display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-caption{
position : absolute;
top: 50%;
transform: translateY(-50%) ;
}
.carousel-capt1on h1{
font-size: 500%;
text-transform: uppercase;
text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
font-size: 200%;
font-weight: 500;
text-shadow: 1px 1px 18px #000;
padding-bottom: 1rem;
}
.btn-primary{
background-color: #6648b1;
border:  1px solid #6648b1;
}
.btn-primary:hover{
background-color: #563d7c;
border:  1px solid #563d7c;
}
.jumbotron{
padding: 1rem;
border-radius : 0;
display: flex;
align-items: center;
justify-content: center;
}

/*schedule*/
.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #0b0503;
     line-height: 50px;
     font-weight: bold;
     padding: 0;
}

.titlepage span {
     background: #457c66;
     display: block;
     height: 10px;
     width: 90px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: transparent;
     color: #457c66;
     padding: 8px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     border-radius: 30px;
     border: #457c66 solid 3px;
     transition: ease-in all 0.5s;
}

.read_more i {
     padding-left: 10px;
}

.read_more:hover {
     background: #808080;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** schedule section **/

.about {
   
     padding: 130px 0;
}

.about .titlepage {
     text-align: left;
     padding: 0;
}

.about .titlepage p {
     color: #292e39;
     font-size: 17px;
     line-height: 35px;
     font-weight: 500;
     padding: 20px 0px 35px 0px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 120%;

}

/** offer section **/
.mobile {
     background-color: #457c66;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding: 140px 0;
}

.mobile .titlepage {
     text-align: left;
     padding: 0;
}

.mobile .titlepage h2 {
     color: #fff;

}

.mobile .titlepage span {
     margin-left: 58px;
      background: #fff;
     display: block;
     height: 10px;
     width: 90px;
}

.mobile .titlepage p {
     color: #fff;
     font-size: 17px;
     line-height: 35px;
     font-weight: 500;
     padding: 10px 0px 35px 0px;
}

.mobile_img figure {
     margin: 0;
     padding: 16px;
}

.mobile_img figure img {
     width: 110%;
}

.mobile .titlepage .read_more {
     border: #fff solid 3px;
     color: #fff;
}

#aboutus{
font-family: Arial;
  font-size: 1.25rem !important;
     line-height: 35px;
     font-weight: 500;
}

/*footer*/
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
.ft-title {
  color: #fff;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.containerfooter {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
.emailup {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

